aiofiles
astroid
Click
colorama
fastapi
gunicorn
h11
isort
lazy-object-proxy
mccabe
numpy~=1.26.4
pandas~=2.2.3
pydantic~=2.10.3
pylint
pymc==5.10.0
python-multipart
scikit-learn>=1.6.1
scipy
six
starlette
uvicorn
wrapt
websockets
xgboost>=1.5.0