{
    "selected_file": "pima-indians-diabetes.data.csv",
    "training_method": "split",
    "loaded_data_path": "/home/donjosh_ua/Code/python_projects/XGBoostBackend/app/data/pima-indians-diabetes.data.csv",
    "training_value": 0.7,
    "model_parameters": {
        "learningRate": "1",
        "nEstimators": "5",
        "maxDepth": "1",
        "seed": "1",
        "eta": "1",
        "gamma": "1",
        "minChildWeight": "1",
        "subsample": "1",
        "colsampleBytree": "1",
        "objective": "binary:logistic",
        "eval_metric": "error",
        "scale_pos_weight": 3
    },
    "distribution": "Normal",
    "custom_parameters": {
        "mean": "0",
        "sigma": "1",
        "alpha": "",
        "beta": "",
        "lambda": ""
    },
    "rounds": 20,
    "has_header": false,
    "separator": ","
}