{
    "selected_file": "pima-indians-diabetes.data.csv",
    "training_method": "split",
    "loaded_data_path": "/home/donjosh_ua/Code/python_projects/XGBoostBackend/app/data/pima-indians-diabetes.data.csv",
    "training_value": 0.7,
    "model_parameters": {
        "colsample_bytree": 0.8,
        "eta": 0.01,
        "gamma": 0.01,
        "learning_rate": 0.1,
        "max_depth": 3,
        "min_child_weight": 3,
        "scale_pos_weight": 3,
        "subsample": 0.7,
        "objective": "binary:logistic",
        "eval_metric": "error"
    },
    "distribution": "Normal",
    "custom_parameters": {
        "mean": "0",
        "sigma": "1",
        "alpha": "",
        "beta": "",
        "lambda": ""
    },
    "rounds": 5,
    "has_header": false,
    "separator": ","
}