{
    "selected_file": "pima-indians-diabetes.data.csv",
    "training_method": "split",
    "loaded_data_path": ".\\app\\data\\pima-indians-diabetes.data.csv",
    "training_value": 0.7,
    "model_parameters": {
        "learningRate": 0,
        "nEstimators": 0,
        "maxDepth": 0,
        "eta": 0.05,
        "max_depth": 5,
        "gamma": 0.1,
        "learning_rate": 0.1,
        "min_child_weight": 3,
        "subsample": 0.7,
        "colsample_bytree": 1,
        "seed": 1994,
        "objective": "binary:logistic",
        "scale_pos_weight": 3,
        "eval_metric": "error"
    },
    "distribution": "Normal",
    "custom_parameters": {
        "mean": 0,
        "sigma": 10,
        "alpha": 0,
        "beta": 0,
        "lambda": 0
    },
    "rounds": 5,
    "has_header": false,
    "separator": ",",
    "kseed": 1994
}